html,body{
   /* background-color: black;  */
   background-image: url(./Images/SIGN\ UP.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;


}

.white{
    position: absolute;
    right: 21%;
    background-color: white;
    width: 424px;
    height: 767px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.left{
    position: absolute;
    left: 21%;
    background-image: url(./Images/Rectangle\ 104.png);
    /* background-color: white; */
    width: 424px;
    height: 767px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* .logo{
    position: absolute;
    left: 30%;


} */